@import url("node_modules/modern-normalize/modern-normalize.css");

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url(outside.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #42baff;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #666;
}
form {
  max-width: 400px;
  margin: 20px auto;
}
label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
